{% extends 'base.html.twig' %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#content').DataTable();
    } );
</script>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <div class='row'>
                    <div class='col-md-3'>
                        <img style="width:100px; border-radius:10%; text-transform:uppercase;" src="{{ asset('image-user/'~ universe.image) }}" alt="..."/>
                    </div>
                    <div class='col-md-7'>
                        <h4 class="title">{{universe.name}}/Gestion</h4>
                    </div>
                    <div class='col-md-2 btn-group'>
                        <a href="{{ path('univers_new_content', {'id': universe.id}) }}" class="btn btn-info"><i class="fa fa-plus"></i></a>
                        {% if isCreator == true %}
                            <a href='{{ path('univers_parameters', {'id': universe.id}) }}' class='btn btn-success'><i class="fa fa-cog"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="content">
                <table id='content' class="display">
                    <thead>
                        <tr>
                            <td>Titre</td>
                            <td>Catégorie</td>
                            <td>Auteur</td>
                            <td>Public ?</td>
                            <td>Date création</td>
                            <td>Dernière modification</td>
                            <td>Options</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for content in universe.contents %}
                            <tr>
                                <td>
                                    <img style="width:30px; border-radius:50%; text-transform:uppercase;" src="{{ asset('image-user/'~ content.image) }}" alt="..."/>
                                    {{content.name}}
                                </td>
                                <td>
                                    {% if not content.contentType %}
                                        Aucune catégorie
                                    {% else %}
                                        {{content.contentType}}
                                    {% endif %}
                                </td>
                                <td>{{ content.author }}</td>
                                <td>
                                    {% if content.isPrivate == false %}
                                        <button class="btn btn-success" ><i class="fa fa-thumbs-up"></i></button>
                                    {% else %}
                                        <button class="btn btn-danger" ><i class="fa fa-thumbs-down"></i></button>
                                    {% endif %}
                                </td>
                                <td>{{ content.createdAt | date("d/m/Y")}} </td>
                                <td>
                                    {% if content.updatedAt %}
                                        {{ content.updatedAt | date("d/m/Y")}} 
                                    {% else %}
                                        Jamais modifié
                                    {% endif %}
                                </td>
                                <td>
                                    <div class='btn-group'>
                                        <a href="{{ path('univers_edit_content', {'id': universe.id , 'idContent': content.id}) }}" class="btn btn-info"><i class="fa fa-edit"></i></a>
                                        <a href="{{ path('univers_show_content', {'id': universe.id , 'idContent': content.id}) }}" class="btn btn-secondary"><i class="fa fa-eye"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}