{% extends 'base.html.twig' %}

{% block script %}
    <script>
        $.switcher('input[type=checkbox]'); 
         // script de prévisualisation d'image
         var openFile = function(event) {
            var input = event.target;

            var reader = new FileReader();
            reader.onload = function(){
            var dataURL = reader.result;
            var output = document.getElementById('image-preview');
            output.src = dataURL;
            };
            reader.readAsDataURL(input.files[0]);
        };  
    $( function() {
        $( "#user" ).autocomplete({
            source : function( request, response ) {
                $.ajax( {
                url: "{{path('users_json')}}",
                dataType: "json",
                data: {
                    term: request.term
                },
                success : function( data ) {
                    response( data );
                }
                });
            },
            minLength: 3,
            autoFocus: true,
            focus: function( event, ui ) {
                $( "#user" ).val( ui.item.text );
                return false;
            },      
            select: function( event, ui ) {
                $( "#user" ).val( ui.item.text );
                $( "#user-id" ).val( ui.item.id );      
                $( "#user-icon" ).attr( "src", "{{asset('image-user')}}/" + ui.item.icon );  
                return false;
            }
        }).autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                    .attr( "data-value", item.id )
                    .append("<div><img src='{{asset('image-user')}}/"+item.icon+"' style='height:25px;'>"+ item.text +"</div>")
                    .appendTo( ul )
        }
    });
    function update(id){
        var td = $("#"+id);

        form = $("<form method='post'></form>");
        form.append('<input type="text" class="form-control" name="nameContentType" value="'+td.html()+'">')
                .append('<input type="hidden" name="idContentType" value='+id+'>')
                .append("<button type='submit' class='btn btn-info'><i class='fa fa-edit'></i></button>");
        
        td.html(form);
    }
    </script>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class='row'>
                            <div class='col-md-3'>
                                <img style="width:100px; border-radius:10%; text-transform:uppercase;" src="{{ asset('image-user/'~ universe.image) }}" alt="..."/>
                            </div>
                            <div class='col-md-7'>
                                <h4 class="title">{{universe.name}}/Paramètres</h4>
                            </div>
                            <div class='col-md-2 btn-group'>
                                <a href='{{ path('univers_gestion', {'id': universe.id}) }}' class='btn btn-success'><i class="fa fa-clipboard"></i></a>
                                <a href='{{ path('univers_delete', {'id': universe.id}) }}' class='btn btn-danger'><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="container-fluid">
                            {{ form_start(formUnivers) }}
                            <div class='row'>
                                <div class='col-md-6'>
                                    {{ form_row(formUnivers.name) }}
                                     {{ form_row(formUnivers.isPrivate) }}
                                </div>
                                <div class='col-md-6'>
                                    <div class="form-group">

                                        <label>Logo de l'univers</label><br>
                                        <div class='row'>
                                            <div class='col-md-6'>
                                                {{ form_row(formUnivers.image) }}
                                            </div>
                                            <div class='col-md-6'>
                                                <img id='image-preview' style='width:100px; border-radius:10%; text-transform:uppercase;' alt=''>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-12'>
                                    <div class='btn-group'>
                                        {{ form_widget(formUnivers.submit) }}
                                        <a href="{{ app.request.headers.get('referer') }}" class='btn btn-secondary'>Retour</a>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(formUnivers) }}
                        </div>
                        <div class='row'>
                            <div class='col-md-6'>
                                <h3>Catégories</h3>
                                <div class='container-fluid'>
                                    <form method='post'>
                                        <label>Ajouter une catégorie</label>
                                    <div class='row'>
                                        <div class='col-md-4'>
                                            <input type='text' name='contentTypeName' class='form-control'>
                                        </div>
                                        <div class='col-md-2'>
                                            <button type='submit' class='btn btn-success'><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                    </form>
                                    <table class='table table-striped'>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Options</th>
                                        </tr>
                                        {% for contentType in universe.contentTypes %}
                                            <tr>
                                                <td  id="{{contentType.id}}">{{contentType.name}}</td>
                                                <td>
                                                    <button onclick='update({{contentType.id}})' class='btn btn-info'><i class="fa fa-edit"></i></button>
                                                    <a href='{{ path('category_delete', {'id': contentType.id})}}' class='btn btn-danger'><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan='2'>Aucune catégorie créé...</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class='col-md-6'>
                                <h3>Rédacteur</h3>
                                <div class='container-fluid'>
                                    <form method='post'>
                                        <label>Ajouter un rédacteur</label>
                                    <div class='row'>
                                        <div class='col-md-2'>
                                            <img src='{{asset('image-user/blank.png')}}' style='height:45px; width:45px;border-radius:25%;border: 2px grey solid' id='user-icon'>
                                        </div>
                                        <div class='col-md-8'>
                                            <input class="form-control" id="user" name='userName' type="text">   
                                            <input type='hidden' id='user-id' name='userId'>                                         
                                        </div>
                                        <div class='col-md-2'>
                                            <button type='submit' class='btn btn-success'><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                    </form>
                                    <table class='table table-striped'>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Options</th>
                                        </tr>
                                        {% for redactor in redactors %}
                                            <tr>
                                                <td><img src="{{asset('image-user/')~ redactor.image }}" style='height:35px; width:auto;border-radius:25%;border: 2px grey solid'> {{redactor.username}}</td>
                                                <td><a href='{{path('redactor_delete',{'id': redactor.id, 'idUnivers': universe.id })}}' class='btn btn-danger'><i class="fa fa-trash"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                    </table> 
                                </div>
                            </div>
                        </div>
                        <!-- row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
