{% extends 'base.html.twig' %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#message').DataTable();
    } );
</script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class='row'>
                        <div class='col-md-8'>
                            <h1 class="title">Messagerie</h1>
                        </div>
                        <div class='col-md-4'>
                            <a class='btn btn-info btn-lg' href='{{path('message_new')}}'><i class="fa fa-lg fa-plus"></i></a>
                        </div>
                </div>
                <div class="content">
                    <table id="message" class="display">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Destinataire</th>
                                <th>Date de reception</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in messages %}
                                <tr>
                                    <td>
                                        {% if message.isRead == false %}
                                            <span class="badge badge-danger">New</span>
                                        {% endif %}
                                        {{message.title}}
                                    </td>
                                    <td>
                                        {% if message.isSystem == true %}
                                            Galactron
                                        {% else %}
                                            {{message.fromUser}}
                                        {% endif %}
                                    </td>
                                    <td>{{message.createdAt | date("d/m/Y")}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class='btn btn-info' href="{{path('message_show', {'id': message.id } ) }}"><i class="fa fa-eye"></i></a>
                                            <a class='btn btn-danger' href="{{path('message_delete', {'id': message.id } ) }}"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                            <tr>
                                <td colspan='4' style='text-align:center'>Aucun messages reçus</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
