{% extends 'base.html.twig' %}

{% block script %}

{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('deleteUnivers') %}
        <div class="alert alert-danger">
            <img src='{{asset('src/image/deleteUnivers.png')}}' style="width:50px; border-radius:10%; text-transform:uppercase;">            
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">        
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class='row'>
                        <div class='col-md-4'>
                            <img src='{{asset('src/image/galactron.png')}}' style="width:150px; border-radius:10%; text-transform:uppercase;">
                        </div>
                        <div class='col-md-8'>
                            <h1 class="title">Accueil</h1>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class='row'>
                    {% for univers in universes %}
                        <div class='col-md-4'>
                            <div class="card">
                                <div class="header">
                                    <div class='row'>
                                        <div class='col-md-4'>
                                            <img src='{{asset('image-user/'~ univers.image)}}' style="width:50px; border-radius:10%; text-transform:uppercase;">
                                        </div>
                                        <div class='col-md-8'>
                                            <h4 class="title">{{univers.name}}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                     {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                                            {% if univers in universesInFav %}
                                                <a class='btn btn-warning'>Déjà en favoris</a>
                                            {% else %}
                                                <a href="{{ path('addFavorite', {'id': univers.id}) }}" class='btn btn-success'>Ajouter aux favoris</a>    
                                            {% endif %}      
                                    {% endif %}
                                    <a href='{{ path('univers_show', {'id': univers.id}) }}' class='btn btn-primary'>Voir</a>                                
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
